.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
  font-size: 24px;
  &__link {
    font-weight: 700;
  }
  &__link:hover {
    transition: $duration;
    transform: scale(1.01);
    color: $darkblue;
  }
}
.active {
  color: $darkblue;
}
